*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type: none;
}
body{
	background-color: #eaeaea;
}
.note .note_title{
	width:100%;
	height:46px;
	background-color: #df4442;
}
.note .note_title span{
	height:44px;
	width:24.5%;
	color:white;
	float:left;
	font-size:18px;
	line-height: 44px;
	text-align: center;
}
.note .note_title .recommend{
	border-bottom:2px solid white;
}
/*轮播开始*/
.lunbo{
	width:100%;
	height:161px;
}
.slider-contaner{
width:100%;
position:relative;
}
.slider-contaner img{
	width:100%;
	height:100%;
}
.slider-item + .slider-item{
opacity:0;
}
.slider-item{
position:absolute;
animation-timing-function: linear;
animation-name:fade;
animation-iteration-count: infinite;
background-size:100%;
}
.slider-item{
animation-duration: 20s;
}
.slider-item1{
animation-delay: -1s;
}
.slider-item2{
animation-delay: 3s;
}
.slider-item3{
animation-delay: 7s;
}
.slider-item4{
animation-delay: 11s;
}
.slider-item5{
animation-delay: 15s;
}
@keyframes fade{
0%{
opacity:0;
z-index:2;
}
5%{
opacity:1;
z-index: 1;
}
20%{
opacity:1;
z-index:1;
}
25%{
opacity:0;
z-index:0;
}
100%{
opacity:0;
z-index:0;
}
}
/*轮播结束*/
.content{
	width:100%;
	background-color: white;
}
.content ul li{
	border-bottom:1px solid gray;
	padding:5px 5px;
}
.content ul li:last-child{
	/*margin-bottom: 50px;*/
}
.content ul li .left{
	float:left;
	width:50%;
}
.content ul li .left h4{
	margin-bottom:15%;
}
.content ul li .left span{
	color:#c9c9c9;
}
.content ul li .left .name{
	float:left;
}
.content ul li .left .hot{
	float: right;
	position: relative;
	right:5px;
}
.content ul li .left img{
	width:10%;
	height:10%;
	float: right;
	position: relative;
	top:5px;
	right:6px;
}
.content ul li .animalPic{
	width:50%;
	height:80%;
}












