*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type: none;
}
body{
	background-color: #eaeaea;
}
.note .note_title{
	width:100%;
	height:44px;
	background-color: #df4442;
}
.note .note_title span{
	height:44px;
	width:24.5%;
	color:white;
	float:left;
	font-size:18px;
	line-height: 44px;
	text-align: center;
}
.note .nav span{
    float:left;
    width:18%;
    height:24px;
    line-height: 24px;
    text-align: center;
    background-color: white;
    color:#808080;
    border-radius: 12px;
    margin-right:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid #c9c9c9;
}
.note .nav span:last-child{
	margin-right:0;
}
.note .nav span:first-child{
	margin-left:4px;
}
@media (width:320px){
	.note .nav span{
    width:17%;
    margin-right:6px;
}
}
.c1{
	clear:both;
}
.content{
	width:100%;
	background-color: white;
}
.content ul li{
	border-bottom:1px solid gray;
	padding:5px 5px;
}
.content ul li .left{
	float:left;
	width:50%;
}
.content ul li .left h4{
	margin-bottom:15%;
}
.content ul li .left span{
	color:#c9c9c9;
}
.content ul li .left .name{
	float:left;
}
.content ul li .left .hot{
	float: right;
	position: relative;
	right:5px;
}
.content ul li .left img{
	width:10%;
	height:10%;
	float: right;
	position: relative;
	top:5px;
	right:6px;
}
.content ul li .animalPic{
	width:50%;
	height:80%;
}



